
body {
    background-color:lightslategray;
}

.buttons {
    margin-top: 10px;
    margin-left: 10px;
}

.topics, .btn, .btn-info {
    margin-right: 10px;
    font-weight: bold;
}

.gif {
   margin-top: 7px;
   margin-right: 15px;
   width: 250px;
   height: 200px;
}

.gifs {
    margin: 20px;
    
}

.gifDiv {
    float: left; 
    margin-top: 30px;
    margin-right: 10px;
}

form {
    float: right;
    margin-right: 100px;
}

#submit {
    margin-top: 8px;
}

label {
    font-weight: bold;
    color: white;
}

.rating {
    margin: 0;
}